@import '../../app-theme';
@import 'colors/color-map';

// Define the light theme.
$vh-primary: mat-palette($md-vhblue);
$vh-accent:  mat-palette($mat-orange, A200, A100, A400);
$vh-warn:    mat-palette($mat-red);
$vh-app-theme: mat-light-theme($vh-primary, $vh-accent, $vh-warn);

// Include all theme styles for the components.
@include angular-material-theme($vh-app-theme);
@include material-docs-app-theme($vh-app-theme);
