@import '../../app-theme';
@import 'colors/color-map';

// Define the Converge light theme.
$primary: mat-palette($md-vhblue);
$accent: mat-palette($mat-orange, A200, A100, A400);
$warn: mat-palette($mat-red);

$vh-app-theme: mat-light-theme($primary, $accent, $warn);

// Include all theme styles for the components.
@include angular-material-theme($vh-app-theme);
@include material-docs-app-theme($vh-app-theme);